body{
    background-color: rgba(247,247,247,255);
}

#titre{
    text-align: center;
    color: white;
}

.box{
    width: 100%;
    height: 80px;
    background-color: rgb(22, 74, 99);
    margin-top: -5%;
}

a{
    background-color: rgb(40, 40, 85);
    color: white;
    padding: 7px 10px;
    margin-top: 20px;
    display: inline-block;
}


@font-face{
    font-family: 'CaramelFont';
    src: url('Caramel.ttf')
}


@font-face {
    font-family: 'HappySelfie';
    src: url('HappySelfie.ttf');
}

h2{
    font-family: 'CaramelFont';
    text-align: center;
    margin-top: -50px;
    color: rgba(29,67,85,255);
}

img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}




nav ul{
    list-style: none;
    margin-left: 20%;
    margin-top: 0%;
}

nav li{
    float: left;
    padding: 5%;
}

.dossier{
    width: 50px;
    height: 50px;
    margin-left: 20%;
    margin-top: 7%;
    position: absolute;
}


.plus{
    width: 50px;
    height: 50px;
    margin-left: 50%;
    position: relative;
    top: 225px;
}

.image-upload>input {
    display: none;
}

.lignes{
    position: absolute;
    width: 100%;
    margin-top: 10%;
    height: 40px;
    background-color: rgb(167, 165, 165);
    /* opacity: 40%; */
    padding-left: 25%;
}

.lignes p {
    display: inline-block;
    margin-right: 450px; /* Ajoutez l'espace souhaité entre chaque élément */
}

.lignes2{
    position: absolute;
    width: 100%;
    margin-top: 20%;
    height: 40px;
    background-color: rgb(167, 165, 165);
    /* opacity: 40%; */
    padding-left: 25%;
}

.lignes2 p {
    display: inline-block;
    margin-right: 450px; /* Ajoutez l'espace souhaité entre chaque élément */
}


.nom{
    width: 200px;
    height: 50px;
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
    text-align: center;
    overflow: hidden;
}

.date{
    width: 200px;
    height: 50px;
    position: absolute;
    margin-top: 10%;
    margin-left: 55%;
    text-align: center;
}


.taille{
    width: 150px;
    height: 50px;
    position: absolute;
    margin-top: 10%;
    margin-left: 45%;
    text-align: center;
}


iframe{
    margin-top: 100px;
}


.taille2{
    width: 150px;
    height: 50px;
    position: absolute;
    margin-top: 20%;
    background-color: red;
    margin-left: 45%;
    text-align: center;
}

.nom2{
    width: 200px;
    height: 50px;
    position: absolute;
    margin-top: 20%;
    background-color: red;
    margin-left: 20%;
    text-align: center;
    overflow: hidden;
}

.date2{
    width: 200px;
    height: 50px;
    position: absolute;
    margin-top: 20%;
    background-color: red;
    margin-left: 55%;
    text-align: center;
}



.buttons{
    position: absolute; 
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);

}

.buttons button{
    background-color: rgba(41,157,211,255);
    border: 0cm;
    color: rgba(28,66,85,255);
    font-family: 'HappySelfie';
    font-size: 25px;
    border-radius: 4px;
}