* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Couleur de fond */
}

header {
    background-color: #555;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.section {
    padding: 50px 0;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.about, .skills {
    background-color: #333; /* Fond gris foncé */
    border-radius: 15px; /* Contours arrondis */
    padding: 30px; /* Espace intérieur */
    margin-bottom: 40px; /* Espacement entre les sections */
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    margin-top: 30px;
}

.skill h3 {
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
}

.skill p {
    color: white;
}

.project {
    margin-top: 50px;
}

.project img {
    max-width: 100%;
}

footer {
    background-color: #555;
    color: #fff;
    padding: 20px;
    text-align: center;
}



#skills{
    background-color: rgb(168, 156, 156);
    width: fit-content;
    margin: auto;
    border-radius: 5%;
}




#about{
    background-color: rgb(168, 156, 156);
    width: fit-content;
    margin: auto;
    border-radius: 5%;
    margin-top: 5%;
}


